
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white: #fff;
    --primary: #1483d5;
} 
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.container1 {
    background: url('../images/pengxiao-xu-vJZe1Z0fT1c-unsplash.jpg') bottom;
    background-size: cover;
    width: 100%;
    height: 90vh;
}
.container1 h2{
    position: relative;
    top: 200px;
    margin: 0 0 0 100px;
    color: #fff;
    font-size: 350%;
}.container1 .btn{
    position: relative;
    top: 200px;
    margin: 0 0 0 100px;
}


